# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- create a table in a markdown cell
- execute code with a comment line above
- use different fonts in markdown cells

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools | 
| --- | 
| Jupyter Notebook| 
| Spyder|
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60

min = 200
hours = min /60
print(hours)

3.3333333333333335

## Author 
Mansur Fromm